<mat-toolbar>
  <span>Dashboard</span>

  <span class="spacer"></span>

  <button mat-icon-button (click)="this.logout()">
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<section class="controls">
  <mat-form-field appearance="fill">
    <mat-label>Painel</mat-label>
    <mat-select [value]="this.panelId" name="panel" (selectionChange)="this.onSelectChange($event)">
      <mat-option *ngFor="let panel of this.panels" [value]="panel._id">
        {{panel.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button mat-raised-button color="primary" (click)="this.openPanelDialog()">
    Adicionar painel
  </button>

  <button mat-raised-button color="primary" (click)="this.openCardDialog()">
    Adicionar card
  </button>
</section>

<app-dashboard-wrapper
  [cardOptions]="cardOptions"
  [gridOptions]="gridOptions"
  [dashboardItems]="this.dashboardItems"
  (itemChange)="this.itemChange($event['item'], $event['itemComponent'])"
  (itemResize)="this.itemResize($event['item'], $event['itemComponent'])"
  (itemDelete)="this.itemDelete($event['cardId'])">
</app-dashboard-wrapper>
