<h2 mat-dialog-title>Novo Painel</h2>
<mat-dialog-content class="mat-typography">
  <mat-form-field appearance="fill">
    <mat-label style="width: 100%;">Nome do painel</mat-label>
    <input matInput [(ngModel)]="data.name" required>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close (click)="this.onNoClick()">Cancelar</button>
  <button mat-button [mat-dialog-close]="data.name" cdkFocusInitial [disabled]="data.name === '' || data.name.length <= 3">Cadastrar painel</button>
</mat-dialog-actions>
