<section class="signin-container">
  <mat-card>
    <form [formGroup]="loginForm" (ngSubmit)="this.onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Usuário</mat-label>
        <input formControlName="userNameField" matInput>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Senha</mat-label>
        <input type="password" formControlName="passwordField" matInput>
      </mat-form-field>
      <button type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Entrar</button>
    </form>
  </mat-card>
</section>
